<nav class="navbar">
    <div class="container">
        <div class="navbar-header">
            <button class="collapsed navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-example-js-navbar-scrollspy">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#home" class="navbar-brand"><img src="/img/logo.png" alt="logo"></a>
        </div>
        <div class="collapse navbar-collapse bs-example-js-navbar-scrollspy">
            <ul id="nav" class="nav navbar-nav">
                <li><a href="<%= request.path == '/' ? '#home' : '/#home' %>">Trang chủ</a></li>
                <!-- <li><a href="<%= request.path == '/' ? '#about' : '/#about' %>">About Cauple</a></li> -->
                <li><a href="<%= request.path == '/' ? '#gallery' : '/#gallery' %>">Album</a></li>
                <li><a href="<%= request.path == '/' ? '#managent' : '/#managent' %>">Dịch Vụ</a></li>
                <li><a href="<%= request.path == '/' ? '#blog' : '/#blog' %>">Blog</a></li>
                <li><a href="<%= request.path == '/' ? '#story' : '/#story' %>">Giới Thiệu</a></li>
                <li><a href="<%= request.path == '/' ? '#event' : '/#event' %>">Bảng giá</a></li>
                <li><a href="<%= request.path == '/' ? '#contact' : '/#contact' %>">Liên Hệ</a></li>
            </ul>
        </div>
    </div>
</nav>