    <% content_for :top_background do %>
    	<div class="top-area-bg"></div>
    <% end %>

    <% content_for :welcome_text do %>
    	<div class="welcome-text-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <div class="welcome-text">
                            <h1><%= @webconfig["name"] %></h1>
                            <h3>khoảnh khắc của bạn là</h3>
                            <h2 class="married-date">niềm vui của chúng tôi</h2>
                            <div class="home-button">
                                <a href="#about"><i class="animated fadeInDown fa fa-angle-down"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% end %>

    <!--HÌNH NỔI BẬT-->
    <section class="gallery-area section-padding" id="gallery">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 col-sm-12 col-xs-12">
                    <div class="area-title text-center wow fadeIn">
                        <h2>ALBUM</h2>
                        <div class="area-title-after"><span class="area-icon"><i class="fa fa-heart-o"></i></span></div>
                        <!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p> -->
                    </div>
                </div>
            </div>
            <div class="row gallery-list">
                <% @albums.each do |album| %>
                  <div class="col-md-<%= album.width %> col-lg-<%= album.width %> col-sm-12 col-xs-12">
                    <div class="single-gallery wow fadeIn">
                      <div class="gallery-img">
                        <img src="<%= album.image %>" alt="">
                      </div>
                      <div class="gallery-overlay"><a class="gallery-popup" href="<%= album.image %>" data-effect="mfp-zoom-out"><i class="fa fa-search-plus"></i></a></div>
                    </div>
                  </div>
                <% end %>
            </div>
        </div>
    </section>
    <!--GALLERY AREA END-->

    <!--Dịch Vụ-->
    <section class="management-people-area section-padding" id="managent">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 col-sm-12 col-xs-12">
                    <div class="area-title text-center wow fadeIn">
                        <h2>Dịch Vụ</h2>
                        <div class="area-title-after"><span class="area-icon"><i class="fa fa-heart-o"></i></span></div>
                        <!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p> -->
                    </div>
                </div>
            </div>
            <div class="row cauple-and-brides-family">
                <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12 wow fadeIn">
                    <% @services1.each do |service| %>
                    <div class="single-management-member">
                        <div class="management-member-img">
                            <img src="<%= service.image %>" alt="">
                        </div>
                        <div class="management-member-details">
                            <h3><%= service.title %></h3>
                            <p>(<%= service.description %>)</p>
                        </div>
                    </div>
                    <% end %>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 wow fadeIn">
                    <div class="cauple-img">
                        <img src="img/important-people/boom_bride.png" alt="">
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12 wow fadeIn">
                  <% @services2.each do |service| %>
                      <div class="single-management-member">
                        <div class="management-member-img">
                          <img src="<%= service.image %>" alt="">
                        </div>
                        <div class="management-member-details">
                          <h3><%= service.title %></h3>
                          <p>(<%= service.description %>)</p>
                        </div>
                      </div>
                  <% end %>
                </div>
            </div>
        </div>
    </section>
    <!--MANAGEMENT PEOPLE AREA END-->

    <!--BLOG AREA-->
    <section class="blog-area section-padding" id="blog">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 col-sm-12 col-xs-12">
                    <div class="area-title text-center wow fadeIn">
                        <h2>Our Blog</h2>
                        <div class="area-title-after"><span class="area-icon"><i class="fa fa-heart-o"></i></span></div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <% @blogs.each do |blog| %>
                <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                    <div class="single-blog wow fadeIn">
                        <div class="post-thumbnail">
                            <a href="#"><img src="<%= blog.image %>" alt=""></a>
                        </div>
                        <div class="post-details">
                            <div class="post-title-and-date">
                                <h3><a href="#"><%= blog.title %></a></h3>
                                <!--<p class="postmeta"><a href="#">25 October 2016</a></p>-->
                                <p class="postmeta"><a href="#"><%= blog.created_at %></a></p>
                            </div>
                            <p><%= blog.description %> </p>
                            <a href="#" class="read-more">Read More...</a>
                        </div>
                    </div>
                </div>
                <% end %>
            </div>
        </div>
    </section>
    <!--BLOG AREA END-->

    <!--ĐÁNH GIÁ CỦA KHÁCH HÀNG-->
    <section class="wisher-area section-padding" id="wisher">
        <div class="wisher-area-bg"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 col-sm-12 col-xs-12">
                    <div class="area-title text-center wow fadeIn">
                        <h2>Đánh giá của khách hàng</h2>
                        <div class="area-title-after"><span class="area-icon"><i class="fa fa-heart-o"></i></span></div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                    </div>
                </div>
            </div>
            <div class="row wow fadeIn">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 wisher-slider">
                    <div class="row single-wisher">
                        <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                            <div class="single-wisher-member">
                                <div class="wisher-member-img">
                                    <img src="img/wishes-person/wisher_1.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7 col-lg-7 col-md-offset-1 col-lg-offset-1 col-sm-6 col-xs-12">
                            <div class="single-friends-description">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer. </p>
                                <p class="wishes-member-name">John Anjelina</p>
                            </div>
                        </div>
                    </div>
                    <div class="row single-wisher">
                        <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                            <div class="single-wisher-member">
                                <div class="wisher-member-img">
                                    <img src="img/wishes-person/wisher_1.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7 col-lg-7 col-md-offset-1 col-lg-offset-1 col-sm-6 col-xs-12">
                            <div class="single-friends-description">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer. </p>
                                <p class="wishes-member-name">John Anjelina</p>
                            </div>
                        </div>
                    </div>
                    <div class="row single-wisher">
                        <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                            <div class="single-wisher-member">
                                <div class="wisher-member-img">
                                    <img src="img/wishes-person/wisher_1.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7 col-lg-7 col-md-offset-1 col-lg-offset-1 col-sm-6 col-xs-12">
                            <div class="single-friends-description">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer. </p>
                                <p class="wishes-member-name">John Anjelina</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--WISHER AREA END-->

    <!--STORY AREA-->
    <section class="story-area section-padding" id="story">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 col-sm-12 col-xs-12">
                    <div class="area-title text-center wow fadeIn">
                        <h2>About Us</h2>
                        <div class="area-title-after"><span class="area-icon"><i class="fa fa-heart-o"></i></span></div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                    </div>
                </div>
            </div>
            <div class="row story-list">
                <div class="single-story wow fadeIn">
                    <div class="col-md-5 col-lg-5 col-sm-6 col-xs-12">
                        <div class="single-story-image">
                            <div class="story-img">
                                <img src="https://scontent.fsgn5-4.fna.fbcdn.net/v/t31.0-8/19620317_1416898488401682_5908069588249244829_o.jpg?oh=605bffc563a3beaad3d5a92cb82a99f9&oe=5A005BF5" alt="">
                            </div>
                            <!-- <div class="story-meta">
                                <p class="date"><a href="#">21 MAY <span>2017</span></a></p>
                            </div> -->
                        </div>
                    </div>
                    <div class="col-md-7 col-lg-7 col-sm-6 col-xs-12">
                        <div class="single-story-details">
                            <h3>Chuyên Nghiệp</h3>
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
                            <!-- <a href="#" class="read-more">Read more <i class="fa fa-angle-right"></i></a> -->
                        </div>
                    </div>
                </div>
                <div class="single-story wow fadeIn">
                    <div class="col-md-5 col-lg-5 col-sm-6 col-xs-12">
                        <div class="single-story-image">
                            <div class="story-img">
                                <img src="https://scontent.fsgn5-4.fna.fbcdn.net/v/t31.0-8/18620799_1379601822131349_6924857661032620727_o.jpg?oh=70f94c415b8c4d65fdd01039e5766a7c&oe=59FD3644" alt="">
                            </div>
                            <!-- <div class="story-meta">
                                <p class="date"><a href="#">21 MAY <span>2017</span></a></p>
                            </div> -->
                        </div>
                    </div>
                    <div class="col-md-7 col-lg-7 col-sm-6 col-xs-12">
                        <div class="single-story-details">
                            <h3>Nhiệt Tình</h3>
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
                            <!-- <a href="#" class="read-more">Read more <i class="fa fa-angle-right"></i></a> -->
                        </div>
                    </div>
                </div>
                <div class="single-story wow fadeIn">
                    <div class="col-md-5 col-lg-5 col-sm-6 col-xs-12">
                        <div class="single-story-image">
                            <div class="story-img">
                                <img src="https://scontent.fsgn5-4.fna.fbcdn.net/v/t31.0-8/13268123_1044977878927080_8380112333984247298_o.jpg?oh=d0ed61604a1350c248fffb3de4217bfc&oe=5A33486C" alt="">
                            </div>
                            <!-- <div class="story-meta">
                                <p class="date"><a href="#">21 MAY <span>2017</span></a></p>
                            </div> -->
                        </div>
                    </div>
                    <div class="col-md-7 col-lg-7 col-sm-6 col-xs-12">
                        <div class="single-story-details">
                            <h3>Cháy Hết Mình</h3>
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
                            <!-- <a href="#" class="read-more">Read more <i class="fa fa-angle-right"></i></a> -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="show-more text-center">
                        <a href="#">See more <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div> -->
        </div>
    </section>
    <!--STORY AREA END-->

    <!--FUN FACT AREA-->
    <!-- <section class="fact-area section-padding wow fadeIn" id="fact">
        <div class="fact-area-bg"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                    <div class="single-fun-fact text-center">
                        <div class="fact-icon"><i class="fa fa-video-camera"></i></div>
                        <h3 class="counter">3250</h3>
                        <p>Movie Watched</p>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                    <div class="single-fun-fact text-center">
                        <div class="fact-icon"><i class="fa fa-glass"></i></div>
                        <h3 class="counter">270</h3>
                        <p>Funny Partyes</p>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                    <div class="single-fun-fact text-center">
                        <div class="fact-icon"><i class="fa fa-coffee"></i></div>
                        <h3 class="counter">3250</h3>
                        <p>Cup Of Coffee</p>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                    <div class="single-fun-fact text-center">
                        <div class="fact-icon"><i class="fa fa-train"></i></div>
                        <h3 class="counter">140</h3>
                        <p>Best Travelling</p>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!--FUN FACT AREA END-->

    <!--BẢNG GIÁ-->
    <section class="event-area section-padding" id="event" style="background-color: aliceblue">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 col-sm-12 col-xs-12">
                    <div class="area-title text-center wow fadeIn">
                        <h2>Bảng giá</h2>
                        <div class="area-title-after"><span class="area-icon"><i class="fa fa-heart-o"></i></span></div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                    <div class="single-event wow fadeIn">
                        <div class="event-hidding">
                            <h3>BABY 1</h3>
                        </div>
                        <div class="event-details">
                            <img src="https://scontent.fsgn5-4.fna.fbcdn.net/v/t1.0-9/20046457_1431836546907876_2486156504801435677_n.jpg?oh=c07841b7f6a73eb526c04e2c6770deab&oe=59F7666C" alt="">
                            <div class="table-price" style="position: absolute; top: 0">
                                <div class="table-price-content">
                                    <p>10 file ảnh đã chỉnh sửa photoshop</p>
                                    <p>Toàn bộ ảnh gốc của buổi chụp </p>
                                    <p>Hình chụp 100 - 150 files </p>
                                </div>
                                <a href="#" >700.000<span>VND</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                    <div class="single-event wow fadeIn">
                        <div class="event-hidding">
                            <h3>BABY 2</h3>
                        </div>
                        <div class="event-details">
                            <img src="https://scontent.fsgn5-4.fna.fbcdn.net/v/t1.0-9/20031886_1431836556907875_291205567028023515_n.jpg?oh=a19708cb5eaff1005969e1a2a3c1f425&oe=5A3146E6" alt="">
                            <div class="table-price" style="position: absolute; top: 0">
                                <div class="table-price-content">
                                    <p>20 files ảnh đã chỉnh sửa photoshop</p>
                                    <p>Toàn bộ ảnh gốc của buổi chụp </p>
                                    <p>Chụp không giới hạn file</p>
                                    <p style="color: red">20 ảnh ép lụa 13x18cm</p>
                                    <p style="color: red">01 ảnh ép gỗ laminate cao cấp 30x45cm</p>
                                </div>
                                <a href="#" >1.100.000<span>VND</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                    <div class="single-event wow fadeIn">
                        <div class="event-hidding">
                            <h3>BABY 3</h3>
                        </div>
                        <div class="event-details">
                            <img src="https://scontent.fsgn5-4.fna.fbcdn.net/v/t1.0-9/20031748_1431836476907883_1506333254455774376_n.jpg?oh=976066bc0a9d59ef226f94d23645c573&oe=59ED0DA9" alt="">
                            <div class="table-price" style="position: absolute; top: 0">
                                <div class="table-price-content">
                                    <p>40 files ảnh đã chỉnh sửa photoshop</p>
                                    <p>Toàn bộ ảnh gốc của buổi chụp </p>
                                    <p>Chụp không giới hạn file</p>
                                    <p style="color: red">01 ảnh ép gỗ laminate cao cấp 40x60cm</p>
                                    <p style="color: red">01 album photobook 30 trang 20x20</p>
                                    <p style="color: red">01 slide DVD ảnh trình chiếu</p>

                                </div>
                                <a href="#" >2.300.000<span>VND</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                    <div class="single-event wow fadeIn">
                        <div class="event-hidding">
                            <h3>FAMILY</h3>
                        </div>
                        <div class="event-details">
                            <img src="https://scontent.fsgn5-4.fna.fbcdn.net/v/t1.0-9/19990050_1431836396907891_9107962490834903738_n.jpg?oh=331d4500e0644b0f0062336e2ea2b78a&oe=5A33A3B8" alt="">
                            <div class="event-schedule-details">
                                <div class="event-schedule">Schedule</div>
                                <div class="event-time-and-date">
                                    <p>Date : 14 Feb 2016 </p>
                                    <p>Time : 12:30 pm </p>
                                    <p>Location : 55/2 United state Austica </p>
                                    <p>Dress Code : White, Red, Pink</p>
                                </div>
                                <a href="#" >9.999.999<span>VND</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--EVENT AREA END-->

    <!--Về Chúng tôi-->
    <!-- <section class="about-cauple-area  padding-top" id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 col-sm-12 col-xs-12">
                    <div class="area-title text-center wow fadeIn">
                        <h2>About Cauple</h2>
                        <div class="area-title-after"><span class="area-icon"><i class="fa fa-heart-o"></i></span></div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 cauple-left wow fadeIn">
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                            <div class="cauple-content">
                                <div class="name-and-title">
                                    <h3>John carry</h3>
                                    <p>Groom</p>
                                </div>
                                <div class="cauple-details">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown.</p>
                                    <a href="#" class="learn-more">Learn More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                            <div class="cauple-images-and-social-bookmark">
                                <img src="img/about/groom.jpg" alt="">
                                <ul class="cauple-social-bookmark">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 cauple-right wow fadeIn">
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                            <div class="cauple-images-and-social-bookmark">
                                <img src="img/about/bride.jpg" alt="">
                                <ul class="cauple-social-bookmark">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                            <div class="cauple-content">
                                <div class="name-and-title">
                                    <h3>Shabnam</h3>
                                    <p>Bride</p>
                                </div>
                                <div class="cauple-details">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown.</p>
                                    <a href="#" class="learn-more">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!--ABOUT AREA END-->

    <!--LIÊN HỆ-->
    <section class="contact-area" id="contact">
        <div class="top-party-attendance-area section-padding">
            <div class="party-area-bg"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 col-sm-12 col-xs-12">
                        <div class="area-title text-center wow fadeIn">
                            <h2>Liên hệ</h2>
                            <div class="area-title-after"><span class="area-icon"><i class="fa fa-heart-o"></i></span></div>
                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <div class="contact-form-area wow fadeIn">
                            <!-- <div class="contact-form">
                                <form action="http://weeding.intimissibd.com/demo/process.php" id="contact-form" method="post">
                                    <div class="row">
                                        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                            <div class="form-group" id="name-field">
                                                <div class="form-input">
                                                    <input type="text" class="form-control" id="form-name" name="form-name" placeholder="Name.." required>
                                                </div>
                                            </div>
                                            <div class="form-group" id="email-field">
                                                <div class="form-input">
                                                    <input type="email" class="form-control" id="form-email" name="form-email" placeholder="Email.." required>
                                                </div>
                                            </div>
                                            <div class="form-group" id="phone-field">
                                                <div class="form-input">
                                                    <input type="text" class="form-control" id="form-phone" name="form-phone" placeholder="Phone..">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                            <div class="form-group" id="message-field">
                                                <div class="form-input">
                                                    <textarea class="form-control" rows="6" id="form-message" name="form-message" placeholder="Event Details You Want To Join..." required></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                            <div class="form-group text-center">
                                                <button type="submit">SEND MESSAGE</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div> -->
                            <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.223199036126!2d106.6983703154183!3d10.794209992309465!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528b5fb5a28a7%3A0x143c08d26ebfaf15!2zOSDEkGnhu4duIEJpw6puIFBo4bunLCBQaMaw4budbmcgMTUsIELDrG5oIFRo4bqhbmgsIEjhu5MgQ2jDrSBNaW5oLCBWaWV0bmFt!5e0!3m2!1sen!2s!4v1501120426716" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe> -->
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-9 col-lg-9 col-sm-6 col-xs-12">
                                        <div class="single-footer-widget wow fadeIn">
                                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.223199036126!2d106.6983703154183!3d10.794209992309465!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528b5fb5a28a7%3A0x143c08d26ebfaf15!2zOSDEkGnhu4duIEJpw6puIFBo4bunLCBQaMaw4budbmcgMTUsIELDrG5oIFRo4bqhbmgsIEjhu5MgQ2jDrSBNaW5oLCBWaWV0bmFt!5e0!3m2!1sen!2s!4v1501120426716" width="100%" height="310" frameborder="0" style="border:0" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                    <!-- <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                                        <div class="single-footer-widget wow fadeIn">
                                            <h3>pages</h3>
                                            <ul class="footer-pages-menu">
                                                <li><a href="#">Privacy Policy</a></li>
                                                <li><a href="#">Donor Privacy Policy</a></li>
                                                <li><a href="#">Disclaimer</a></li>
                                                <li><a href="#">Terms of Use</a></li>
                                                <li><a href="#">Copyright Notice</a></li>
                                                <li><a href="#">Media Center</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                                        <div class="single-footer-widget wow fadeIn">
                                            <h3>Twitter Feed</h3>
                                            <ul class="twitter-feed">
                                                <li>
                                                    <div class="single-feed">
                                                        <div class="feed-icon"><i class="fa fa-twitter"></i></div>
                                                        <div class="feed-details">
                                                            <p>Each of these snippets uses CSS to create something which pushes the boundaries of modern <a href="#">#webdesign</a>. </p>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="single-feed">
                                                        <div class="feed-icon"><i class="fa fa-twitter"></i></div>
                                                        <div class="feed-details">
                                                            <p>Each of these snippets uses CSS to create something which pushes the boundaries of modern <a href="#">#webdesign</a>. </p>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div> -->
                                    <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                                        <div class="single-footer-widget wow fadeIn">
                                            <h3>Contact</h3>
                                            <ul class="footer-contact">
                                                <li>
                                                    <div class="single-contact">
                                                        <div class="contact-icon"><i class="fa fa-phone"></i></div>
                                                        <div class="feed-details">
                                                            <a href="callto:+8800000000000" style="color: white">01653 732 072</a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="single-contact">
                                                        <div class="contact-icon"><i class="fa fa-facebook"></i></div>
                                                        <div class="feed-details">
                                                            <a href="https://www.facebook.com/chuphinhbabydep" style="color: white" target="_blank">facebook.com/chuphinhbabydep</a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="single-contact">
                                                        <div class="contact-icon"><i class="fa fa-map-marker"></i></div>
                                                        <div class="feed-details">
                                                            <address>479/38 Phan Văn Trị, P.5, Q.Gò Vấp, TP Hồ Chí Minh</address>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                            <!-- <div class="subscriber-form">
                                                <form id="mc-form">
                                                    <label class="mt10" for="mc-email"></label>
                                                    <input type="email" id="mc-email" placeholder="Enter Your Email">
                                                    <button type="submit" class="plus-btn"><i class="fa fa-paper-plane-o"></i></button>
                                                </form>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="bottom-map-area wow fadeIn">
            <div id="map" style="width: 100%; height: 400px;"></div>
        </div> -->
    </section>
    <!--CONTACT US AREA END-->