<style>
	body {
		background: beige;
	}

	.top-area {
		height: 100px !important;
	}
</style>
<section class="list-image gallery-area section-padding" id="gallery">
	<div class="polaroid-images">
		<% @albums.each do |album| %>
			<a href="<%= album.image %>" class="group<%= album.id %>"  data-class="group<%= album.id %>" data-url="/album/<%= album.id %>/image" title="<%= album.description %>">
				<img height="200" src="<%= album.image %>" alt="<%= album.description %>" title="<%= album.description %>">
			</a>
		<% end %>
		
	</div>
	<div style="display: none" class="display-image">
	</div>
<div class="clear:both;"></div>
<p style="text-align: center;">
<script>
	$('a').click(function(e){
		e.preventDefault();
		var dataClass = $(this).attr('data-class');
		var dataUrl = $(this).attr('data-url');
		$.ajax({
			url: dataUrl,
			success: function(data){
				var html = '';
				data.forEach(function(item) {
					html += '<a href="' + item.url.url +'" class="' + dataClass + '" data-class="' + dataClass + '" title="Coast Valley"><img height="200" src="'+ item.url.url +'" alt="Coast Valley" title="Coast Valley"></a>'
				});
				$('.display-image').html(html);
				$("." + dataClass).colorbox({rel: dataClass, transition:"none", width:"100%", height:"100%", scrolling: false});
			}
		});
	});
	$(document).bind('cbox_open', function () {
	    $('html').css({ overflow: 'hidden' });
	}).bind('cbox_closed', function () {
	    $('html').css({ overflow: 'auto' });
	}); 
</script>
</section>