<style>
	.img-recent-post {
		min-height: 61px;
	}
</style>
<div class="col-xs-12 col-sm-4 col-md-3">
	<aside class="aside-section">
		<div class="categories-wrapper">
			<div class="info-wrap">
				<h2>Dịch Vụ</h2>
			</div>
			<ul>
				<% @services.each do |service| %>
					<li>
						<a href="#"><%= service.title %></a>
					</li>
				<% end %>
				<!-- <li>
					<a href="#">Events</a>
				</li>
				<li>
					<a href="#">Memories</a>
				</li>
				<li>
					<a href="#">Stories</a>
				</li>
				<li>
					<a href="#">Trips</a>
				</li>
				<li>
					<a href="#">General</a>
				</li> -->
			</ul>
		</div>
		<div class="categories-wrapper recent-post">
			<div class="info-wrap">
				<h2>Bài đăng gần nhất</h2>
			</div>
			<% @recent_posts.each do |post| %>
				<div class="recent-post-wrapper">
					<figure>
						<a href="/blog/<%= post.id %>"><img src="<%= post.image %>" alt="" class="img-recent-post"></a>
					</figure>
					<div class="recent-update">
						<span><%= post.created_at.to_formatted_s(:long) %></span>
						<h4><a href="/blog/<%= post.id %>"><%= post.title %></a></h4>
					</div>
				</div>
			<% end %>
		</div>
		<div class="categories-wrapper tag">
			<div class="info-wrap">
				<h2>Thẻ</h2>
			</div>
			<ul class="activities clearfix">
				<% @services.each do |service| %>
					<li>
						<a href="#"><%= service.title %></a>
					</li>
				<% end %>
				<!-- <li>
					<a href="#">Love</a>
				</li>
				<li>
					<a href="#">Wedding</a>
				</li>
				<li>
					<a href="#">General</a>
				</li>
				<li>
					<a href="#">Bride</a>
				</li>
				<li>
					<a href="#">Event</a>
				</li>
				<li>
					<a href="#">Quotes</a>
				</li>
				<li>
					<a href="#">Video</a>
				</li> -->
			</ul>
		</div>
	</aside>
</div>